$color-purple-dark: rgb(200, 34, 187);
$color-purple-light: rgb(203, 44, 190);

$color-blue-dark: rgb(77, 121, 216);

$color-white-medium: rgb(234, 234, 234);
$color-white-light: rgb(255, 255, 255);

$color-grey-black: rgb(62, 67, 86);
$color-grey-dark: rgb(86, 86, 86);
$color-grey-medium: rgb(120, 120, 120);
$color-grey-light: rgb(135, 135, 135);
$color-grey-white: rgb(154, 159, 179);

$color-grey-transparent: rgba(135, 135, 135, 0.5);