@import './../../abstracts/variables';
@import './../../abstracts/mixins';

.productReviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  color: $color-grey-dark;

  &__review {
    background-color: $color-white-light;
    padding: 1rem;
    
    &__title {
      margin-top: 0;
      text-transform: capitalize;
      font-size: 1.6rem;
      font-weight: 600;
      color: $color-grey-black;

      @media (max-width: 1366px) {
        font-size: 2rem;
      }

      @include phone-only {
        font-size: 1.4rem;
        margin-bottom: 0;
      }
    }

    &__author {
      display: flex;
      align-items: center;

      &__img {
        flex: 1;
        background-size: cover;
        background-position: center;
        height: 5rem;
        margin: .5rem;
      }

      &__info {
        flex: 1;

        & > p {
          margin: 0;
        }

        &__username {
          font-size: 1.4rem;

          @include phone-only {
            font-size: 1.2rem;
          }
        }

        &__date {
          font-size: 1rem;

          @include phone-only {
            font-size: .8rem;
          }
        }
      }

      &__score {
        flex: 2;
        text-align: right;

        & > p {
          margin: 0;
          font-size: 1.2rem;

          @include phone-only {
            font-size: .8rem;
          }
        }
      }
    }

    &__image {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 20rem;

      @media (max-width: 1366px) {
        height: 30rem;
      }

      @include phone-only {
        display: none;
      }
    }

    &__body {
      font-size: 1.2rem;
    }
  
    &__votes {
      font-size: 1rem;
      margin: 0;

      & > span {
        font-size: 2.5rem;
        cursor: pointer;
      }
    }
  }

  &__noReview {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;

    & > img {
      height: 6rem;
    }

    & > p {
      font-size: 1.4rem;
    }
  }
}


