@import './../../abstracts/variables';
@import './../../abstracts/mixins';

.productGallery {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 5rem;
  grid-gap: .5rem;

  @media (max-width: 1366px) {
    grid-auto-rows: 8rem;
  }

  @include phone-only {
    grid-auto-rows: 5rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    cursor: pointer;

    @include landscape-phones {
      height: 80%;
    }
  }


  &__slideshow {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    padding-top: 5%;
    background-color: rgba(185, 185, 185, 0.5);

    @include phone-only {
      display: flex;
      align-items: center;
      height: 100%;
    }

    &__arrow {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      color: $color-white-light;
      cursor: pointer;

      @include phone-only {
        flex: 0;
      }
    }

    &__image {
      flex: 6;
      background-size: cover;
      background-position: center;

      @include phone-only {
        height: 30%;
      }
    }

    &__close {
      color: white;
      background-color: $color-grey-black;
      position: absolute;
      top: 2%;
      right: 12%;
      font-size: 3rem;
      padding: 0rem 1rem;
      cursor: pointer;

      @include phone-only {
        top: 30%;
        right: 5%;
        padding: 0 0.5rem;
        font-size: 2rem;
      }
    }
  }

  &__desktop {
    display: block;

    @include phone-only {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @include phone-only {
      display: block;
    }
  }
}