@import './../abstracts/variables';
@import './../abstracts/mixins';

.footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.6rem;
  font-size: 1rem;
  text-align: center;
  background-color: $color-grey-black;
  color: $color-grey-white;

  @include phone-only {
    display: none;
  }
}